body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}
h2{
    font-size: 40px;
}
.color-orange {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
}

.half-width img {
    width: 80%;
}

.button-design {
    text-decoration: none;
    background-image: linear-gradient(rgba(255, 0, 0, 0.5), tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    /* background-position: right; */
    background-position-x: right;
    background-position-y: center;
}

.padding {
    padding-right: 10;
}

.box{
    box-shadow: 10px 10px 20px grey;
    margin-left: 5%;
    width: 42.5%;
    margin-right: 2.5%;
    padding-left: 20px;
    border-radius: 5px;
    
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.full-box{
    border-left: 7px solid blue;
}
.baby-box{
    border-left: 7px solid red;
}
footer p{
    text-align: center;
}